certifi
discord.py
finance_datareader
Flask
Flask_Cors
Flask_Discord
GitPython
investpy
matplotlib
mojito2
mplchart
nest_asyncio
numpy
pandas
pandas_ta
Pillow
python-dotenv
PyYAML
quart
quart_cors
Requests
tabulate
tradingview_ta
yfinance
plotly
